.story-page__input {
    width: 250px;
    min-height: 61px;
    margin: 22px auto;
    padding: 10px;
    border-radius: 12px;
    border: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.22;
    letter-spacing: -0.41px;
    background-color: rgb(255, 255, 255, 0.55);
    color: #333333;
}

.story-page__input:focus {
    outline: none;
}