.notion__title {
    padding: 15px 17px 14px 25px;
    list-style: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.22;
    color: #000000;
}