.notion__paragraph {
    margin: 0;
    border-top: 1px solid  #E0E0E0;
    padding: 8px 17px 11px 44px;
    list-style: none;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.22;
    color: #000000;
}

.notion__paragraph:first-of-type {
    border-top: none;
    padding: 17px 17px 14px 44px;
}